package server

import (
	"github.com/gin-gonic/gin"
	
	"{{.ProjectName}}/internal/routes"
)

type Server struct {
	Engine *gin.Engine
}

func New() *Server {
	r := gin.Default()

	r.Use(gin.Recovery())
	// goit:add-middlewares-here

	routes.RegisterRoutes(r)

	return &Server{Engine: r}
}

func (s *Server) Run() {
	s.Engine.Run()
}
